*{
  margin: 0px;
  padding: 0px;
}

div.wrapper{
  margin: 0px;
}
div.header{
  border-bottom: 1px solid black;
  padding: 10px;
}
div.main{
  margin: 20px;
}

h2, h4{
  display: inline-block;
}

div.welcome{
  display: inline-block;
  float: right;
  padding: 5px;
}

textarea{
  width: 90%;
  border: 1px solid black;
}

.message_post input{
  float: right;
  margin-right: 20%;
}


div.login, div.register{
  display: inline-block;
  border: solid black 1px;
  width: 350px;
  height: 200px;
  margin: 10px;
  padding: 10px;
  vertical-align: top;
}

div.error{
  display: inline-block;
  width: 75px;
}

form label{
  width: 125px;
  display: inline-block;

}

input[type="text"], input[type="password"]{
  border: 1px solid black;
  width: 90px;
}
div.error{
  width: 120px;
  margin-left: 5px;
  color: red;
  padding: 5px 0px;
}

input[type="submit"]{
  display: block;
  margin-top: 10px;
}
