*{
  padding: 0px;
  margin: 0px;

}
h4{
  text-decoration: underline;
  margin: 10px 0px;
}

div.wrapper{
  margin: 20px;
}

div.error{
  display: inline-block;
  color: red;
}
input[type='text']{
  border: 1px solid black;
  margin-left: 10px;
}
input[type='submit'].addemail{
  display: block;
  padding: 5px;
  margin-top: 10px;
}

div.success{
  background-color: lightgreen;
  width: 250px;
  text-align: center;
  padding: 5px;
  margin:20px;
}

table{
  margin-left: 20px;
}

table td{
  padding: 0px 10px 0px 0px;
}
